<div class="container-fluid">
  <div class="row bg-maroon">
    <div class="col-5 text-right">
      <img src="assets/images/InfraFrameLogo.png">
    </div>
    <div class="col-7 row">
      <div class="col-11 text-center">
        <span class="px-2 fs-11 text-white">Current Jurisdiction - College Station</span>
        <span class="px-2 fs-11 text-white">Infrastructure System - Pavement - Standard</span>
        <div class="dropdown d-inline">
          <span data-toggle="dropdown" class="px-2 br-6 fs-11 text-white cursor-pointer hover-orange">Setting</span>
          <ul class="dropdown-menu bg-black-glass p-1">
            <li class="px-2 py-1 br-6 fs-11 text-white cursor-pointer hover-blue" (click)="openDataCleaningDialog()">Data Cleaning</li>
          </ul>
        </div>
        <span class="px-2 fs-11 text-white cursor-pointer" (click)="logout()">Logout</span>
      </div>
      <div class="col-12"></div>
      <div class="col-8 bg-maroon-dark d-flex align-items-center btlr-10 btrr-10">
        <div class="dropdown">
          <span data-toggle="dropdown" class="px-3 py-1 br-6 fs-13 text-white cursor-pointer hover-orange">Data <i class="fas fa-caret-down"></i></span>
          <ul class="dropdown-menu w-250 bg-black-glass p-1">
            <li class="px-3 py-1 br-6 fs-13 text-white cursor-pointer hover-blue">Segmentation</li>
            <li class="px-3 py-1 br-6 fs-13 text-white cursor-pointer hover-blue">User Assessment</li>
          </ul>
        </div>
        <div class="dropdown">
          <span data-toggle="dropdown" class="px-3 py-1 br-6 fs-13 text-white cursor-pointer hover-orange">Analysis <i class="fas fa-caret-down"></i></span>
          <ul class="dropdown-menu w-250 bg-black-glass p-1">
            <li class="px-3 py-1 br-6 fs-13 text-white cursor-pointer hover-blue" (click)="openPciAnalysisDialog()">PCI Analysis</li>
            <li class="px-3 py-1 br-6 fs-13 text-white cursor-pointer hover-blue" (click)="openIriAnalysisDialog()">IRI Analysis</li>
          </ul>
        </div>
        <span class="px-3 py-1 br-6 fs-13 text-white cursor-pointer hover-blue" (click)="openReportDialog()">Report</span>
        <span class="px-3 py-1 br-6 fs-13 text-white cursor-pointer hover-blue">Help</span>
      </div>
    </div>
  </div>
</div>

