<p class="bg-grey px-2 py-1 d-flex align-items-center justify-content-between border mb-0 fs-13">
    Set Data Cleaning Options
    <i (click)="close()" class="fas fa-times fs-13 mr-2 text-grey cursor-pointer"></i>
</p>
<div class="px-3 py-1 mh-50-vh scroll-y">
    <p class="fs-12 mb-1"><b>Options:</b></p>
    <div class="row px-3 fs-12 mt-3 d-flex align-items-center">
        <div class="col-7 text-right px-1 mb-1"><b>Minimum Acceptable Condition Score:</b></div>
        <div class="col-5 text-center mb-1">
            <input class="w-100" type="number" min="1" max="100" value="20">
        </div>
        <div class="col-7 text-right px-1 mb-1"><b>Minimum Acceptable Uride Score:</b></div>
        <div class="col-5 text-center mb-1">
            <input class="w-100" type="number" min="1" max="100" value="0.5">
        </div>
        <div class="col-7 text-right px-1 mb-1"><b>Reset Value for Ride Score:</b></div>
        <div class="col-5 text-center mb-1">
            <input class="w-100" type="number" min="1" max="100" value="4.8">
        </div>
    </div>
    <div class="row px-3 fs-12">
        <div class="col-12 text-right px-0 py-2">
            <button type="button" class="btn btn-sm bg-grey fs-12 px-3 py-0 mr-3">Start Data Cleaning</button>
            <button type="button" class="btn btn-sm bg-grey fs-12 px-3 py-0" (click)="close()">Cancel</button>
        </div>
    </div>
</div>